#getStartedButtonJobSeeker {
    -fx-background-color: #1a73e8;       
    -fx-text-fill: white;              
    -fx-background-radius: 8;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10 20 10 20;
    -fx-border-color: #1a73e8;
    -fx-border-radius: 8;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 3, 0, 0, 1);
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-cursor: hand;
}

#getStartedButtonJobSeeker:hover {
    -fx-background-color: white;       
    -fx-text-fill: #1a73e8;              
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 6, 0, 0, 2);
}

